## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,53.71,40,0,17.27,clear sky
1,1,Bredasdorp,ZA,-34.5322,20.0403,58.28,88,73,2.30,broken clouds
2,2,Albany,US,42.6001,-73.9662,60.39,88,96,7.94,overcast clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,51.46,50,0,19.57,clear sky
4,4,Lar,IN,26.2039,83.9717,71.13,64,46,4.14,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Rikitea,PF,-23.1203,-134.9692,75.00,85,100,21.14,light rain
12,12,Kapaa,US,22.0752,-159.3190,81.48,83,20,1.01,few clouds
13,13,Batticaloa,LK,7.7102,81.6924,78.49,88,100,7.49,overcast clouds
14,14,Atuona,PF,-9.8000,-139.0333,77.85,67,5,17.27,clear sky
19,19,Shirgaon,IN,19.7000,72.7000,76.03,50,78,9.62,light rain
24,24,Bubaque,GW,11.2833,-15.8333,78.87,79,100,5.61,overcast clouds
28,28,Vaini,TO,-21.2000,-175.2000,77.16,88,20,9.22,few clouds
29,29,Butaritari,KI,3.0707,172.7902,82.53,72,39,6.44,scattered clouds
35,35,Vijes,CO,3.6993,-76.4423,84.18,51,75,14.97,broken clouds
39,39,Cabo San Lucas,MX,22.8909,-109.9124,89.62,67,11,9.24,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                231
City                   231
Country                229
Lat                    231
Lng                    231
Max Temp               231
Humidity               231
Cloudiness             231
Wind Speed             231
Current Description    231
dtype: int64

In [18]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [19]:
clean_df.count()

City_ID                229
City                   229
Country                229
Lat                    229
Lng                    229
Max Temp               229
Humidity               229
Cloudiness             229
Wind Speed             229
Current Description    229
dtype: int64

In [20]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Rikitea,PF,75.00,light rain,-23.1203,-134.9692,
12,Kapaa,US,81.48,few clouds,22.0752,-159.3190,
13,Batticaloa,LK,78.49,overcast clouds,7.7102,81.6924,
14,Atuona,PF,77.85,clear sky,-9.8000,-139.0333,
19,Shirgaon,IN,76.03,light rain,19.7000,72.7000,
24,Bubaque,GW,78.87,overcast clouds,11.2833,-15.8333,
28,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,
29,Butaritari,KI,82.53,scattered clouds,3.0707,172.7902,
35,Vijes,CO,84.18,broken clouds,3.6993,-76.4423,
39,Cabo San Lucas,MX,89.62,few clouds,22.8909,-109.9124,

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [55]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np

# Replace an empty Hotel Name with a NaN
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
# Drop the empty rows
clean_hotel_df = hotel_df.dropna()
# Check out if there exist Hotel Name as empty string
clean_hotel_df[hotel_df['Hotel Name'] == ''].index

Int64Index([], dtype='int64')

In [59]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Rikitea,PF,75.00,light rain,-23.1203,-134.9692,People ThankYou
12,Kapaa,US,81.48,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
13,Batticaloa,LK,78.49,overcast clouds,7.7102,81.6924,Grand Star Guest House
14,Atuona,PF,77.85,clear sky,-9.8000,-139.0333,Villa Enata
19,Shirgaon,IN,76.03,light rain,19.7000,72.7000,"Samarth Krupa Farm, Palghar"
24,Bubaque,GW,78.87,overcast clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
28,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,Keleti Beach Resort
29,Butaritari,KI,82.53,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
35,Vijes,CO,84.18,broken clouds,3.6993,-76.4423,"Hotel "" Doña Gaby"""
39,Cabo San Lucas,MX,89.62,few clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos

In [57]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [62]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [63]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))